* {
  background-color: black;
}

h1 {
  font-size: 40px;
  text-align: center;
  color: white;
  margin-bottom: 25px;
  margin-top: 5px;
  animation-name: headers;
  animation-timing-function: linear;
  animation-direction: alternate-reverse;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
@keyframes headers {
  0% {
    color: gold;
  }
  50% {
    color: red;
  }
  100% {
    left: white;
  }
}

h2 {
  color: gold;
  margin-left: 40px;
  margin-bottom: 20px;
}
ul {
  color: white;
  font-size: 15px;
  list-style-type: none;
}
li {
  padding: 10px;
}
strong {
  color: gold;
}

.shoe {
  margin-left: 25px;
}
.shoe {
  width: 200px;
  height: 170px;
  margin-bottom: 30px;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}
