
h2{
    color: gold;
    text-align: center;
    margin-bottom: 15px;
}
.Form{
    color: white;
    text-align: center;
}
input{
    color: purple;
    background-color: white;
    height: 20px;
}

label{
    color: gold;
    font-size: 20px;
}
.Form{
    position: absolute;
    right: 40%;
}
.btnform{
    background-color: purple;
    color: aqua;
    width: 80px;
    height: 30px;
    position: absolute;
    margin-left: 30%;
}


