.parentcontainer {
  margin: 0;
}
.container1 {
  height: 700px;
  display: flex;
  margin-bottom: 140px;
  flex-wrap: wrap;
}

h1 {
  font-size: 20px;
  text-align: center;
  color: white;
  margin-bottom: 20px;
  margin-top: 2px;
  animation-name: headers;
  animation-timing-function: linear;
  animation-direction: alternate-reverse;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
@keyframes headers {
  0% {
    color: gold;
  }
  50% {
    color: red;
  }
  100% {
    left: white;
  }
}

.h2title {
  color: gold;
  margin-left: 2px;
  margin-bottom: 20px;
}
h3 {
  font-size: 20px;
  color: purple;
  text-align: center;
}
ul {
  color: white;
  font-size: 10px;
  list-style-type: none;
}
li {
  padding: 10px;
}
strong {
  color: gold;
}

.Img {
  width: 120px;
  height: 80px;
  margin-left: 30px;
}

.Addcart {
  background-color: red;
  margin-left: 50px;
  margin-bottom: 100px;
}

.table-formshoes {
  display: grid;
  place-items: center;
}
@media screen and (max-width: 691px) {
  .container1 {
    font-size: 10px;
    height: 900px;
    display: flex;
    margin-bottom: 140px;
  }
}
@media screen and (max-width: 465px) {
  .container1 {
    font-size: 5px;
    height: 1500px;
    display: flex;
    margin-bottom: 140px;
  }
}
@media screen and (max-width: 375px) {
  ul li strong {
    font-size: 12px;
  }
  li {
    font-size: 10px;
  }

  h1 {
    font-size: 15px;
  }
  h2 {
    font-size: 15px;
  }
  .Addcart {
    font-size: 10px;
  }
}
@media screen and (min-width: 1024px) {
  .btn {
    font-size: 20px;
    height: 30px;
    background-color: purple;
    border-radius: 50%;
    position: relative;
    left: 65%;
    bottom: 40px;
  }
}
@media screen and (max-width: 1024px) {
  .btn {
    font-size: 15px;
    height: 25px;
    background-color: purple;
    border-radius: 50%;
    position: relative;
    left: 70%;
    bottom: 40px;
  }
}
@media screen and (max-width: 778px) {
  .btn {
    font-size: 10px;
    height: 20px;
    background-color: purple;
    border-radius: 50%;
    position: relative;
    left: 75%;
    bottom: 40px;
  }
}
@media screen and (max-width: 665px) {
  .table-formshoes td {
    width: 20px;
  }
}
@media screen and (max-width: 518px) {
  .table-formshoes td label {
    font-size: 15px;
  }
}
@media screen and (max-width: 487px) {
  form {
    margin-left: -20%;
  }
}
@media screen and (max-width: 403px) {
  form table tr td input {
    margin-left: -10%;
  }
  form table tr td label {
    margin-left: -10%;
  }
  .formcontainer h3 {
    margin-left: -10%;
  }
}
@media screen and (max-width: 280px) {
  .table-formshoes td input {
    width: 80px;
  }
}
