.container {
  display: flex;
  justify-content: space-between;
}
.dropbtn {
  background-color: purple;
  color: white;
  padding: 16px;
  font-size: 20px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  font-size: 15px;
  position: absolute;
  min-width: 140px;
  z-index: 1;
}

.link {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: gold;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: gold;
}

.Carticon {
  color: blue;
  display: flex;
  margin-top: 10px;
}
@media screen and (max-width: 899px) {
  .Carticon {
    font-size: 10px;
  }
}
@media screen and (max-width: 758px) {
  .dropbtn {
    font-size: 10px;
  }
}
@media screen and (max-width: 585px) {
  .dropbtn {
    font-size: 5px;
  }
}
@media screen and (max-width: 440px) {
  .dropbtn {
    font-size: 10px;
  }
}
@media screen and (max-width: 260px) {
  .Carticon span {
    font-size: 10px;
    position: relative;
    left: 10%;
  }
  svg {
    margin-left: 50%;
    width: 50px;
  }
}
@media screen and (max-width: 320px) {
  .Carticon span {
    font-size: 10px;
    position: relative;
    right: 30%;
  }
  svg {
    font-size: 10px;
    position: relative;
    right: 20%;
  }
}
